<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
<Properties>
	<Property name="logfile">reports/logs/testautomation.log</Property>
</Properties>
<Appenders>
	<Console name="console" target="SYSTEM_OUT">
		<PatternLayout pattern = "%d{DATE} %-5level %C - %M - %m%n"/>
	</Console>
	<File name="MyFile" filename="${logfile}">
		<PatternLayout pattern = "%d{HH:mm} %-5level %C - %M - %m%n"/>
	</File>
</Appenders>
<Loggers>
<Root level ="trace">
	<AppenderRef ref="MyFile" />
</Root>
</Loggers>
</Configuration>

<!-- 
Appenders - pattern <PatternLayout> and where to log <console>
Loggers - which appender to use and log level - trace, debug, info,  warn, error, fatal
Docs
layouts - https://logging.apache.org/log4j/2.x/manual/layouts.html#PatternLayout
 -->