<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="ERROR">
  <Properties>
    <Property name="filename">reports/logs/$date-logs.log</Property>
  </Properties>
  <Appenders>
    <Console name="Console" target="SYSTEM_OUT">
      <PatternLayout pattern="%d{HH:mm:ss} %-5level %C-%M - %m%n"/>
    </Console>
  </Appenders>
    <Appenders>
    <File name="MyFile" fileName="${filename}">
      <PatternLayout pattern="%d{HH:mm:ss} %-5level %C-%M - %m%n"/>
    </File>
  </Appenders>
  <Loggers>
    <Root level="trace">
      <AppenderRef ref="MyFile"/>
    </Root>
  </Loggers>
</Configuration>